.custom-cursor {
  position: fixed;
  width: 23px;
  height: 22px;
  background-color: transparent;
  border: 3px solid rgb(192, 169, 39);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
}
